body{
    margin: 0px;

}

header{
    /* background:linear-gradient(to right, pink, rgb(248, 210, 210), rgb(161, 79, 79)); */
    background-color: pink;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav{   
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

nav > img {
    animation: logo-spin 20s infinite linear;
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }

}

h1{
    margin: 0px;
}