body {
  margin: 0px;
}

header {
  /* background:linear-gradient(to right, pink, rgb(248, 210, 210), rgb(161, 79, 79)); */
  background-color: #8b1e4d;
  height: 60px;
  margin-right: 90px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  box-shadow: 2px 4px rgba(255, 192, 203, 0.651);
}

nav {
  margin: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

/* nav > img {
    animation: logo-spin 20s infinite linear;
} */

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav > .gael-logo {
  cursor: pointer;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

nav > h3 {
  cursor: pointer;
  margin-left: 10px;
  font-family: sans-serif;
  color: #fff5f8;
}

.cart {
  margin-right: 50px;
  position: relative;
}

.cart > button {
  cursor: pointer;
  background-color: #8b1e4d;
  border: none;
}

.cart-message {
  position: absolute;
  top: 30px;
  right: -10px;
  padding: 10px;
  width: 60px;
  background-color: rgba(0, 0, 0, 0.705);
  backdrop-filter: blur(4px); 
  color: #fff5f8;
  z-index: 100;
  border-radius: 5px;
  opacity: 0;
  transform: scale(0.9);
  transition: all 0.4s ease;
}

.cart-message::before {
  content: "";
  position: absolute;
  top: -20px;
  right: 20px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid rgba(0, 0, 0, 0.705); /* match box background */
}

.cart-message.show {
  opacity: 1;
  transform: scale(1);
}

.cart-number {
  position: absolute;
  color: #fff5f8;
  background-color: tomato;
  text-align: center;
  font-size: smaller;
  padding: 1px;
  font-weight: bold;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  top: -5px;
  left: 20px;
}

/* .cart-number >span{
    text-align: center;
    margin: -10px;
    padding: 0px;
} */
