body{
    margin: 0px;

}

header{
    background-color: rgb(116, 185, 116);

  
}

nav > img {
    animation: logo-spin 20s infinite linear;
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }

}

h1{
    margin: 0px;
}