.my-orders {
  display: flex;
}

.no-items {
  margin: 80px 20px 0 20px;
  height: 200px;
  background-color: #f5c5d5;
  width: auto;
  /* max-width: 630px; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 1px solid grey;
  box-shadow: 0 2px 4px #00000049;
}

.no-items:hover {
  border: 1px solid #8b1e4d;
}

.no-items > h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 10px;
}

.ordered-list {
  margin-top: 80px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: rgb(243, 243, 243);
}

.cart-display {
  background-color: white;
  color: #333333;
  padding: 7px;
  border-radius: 5px;
}

.cart-display-item {
  display: flex;
}

.cart-display-item-info {
  margin-left: 20px;
  margin-top: 20px;
}

.cart-display > div > img {
  width: 200px;
  height: 200px;
}
.checkout-section {
  margin-top: 80px;
  margin-right: 20px;
  background-color: white;
  padding: 7px;
  border-radius: 5px;
  border: 1px solid #8b1e4d;
}

.checkout-section > a > button{
  border-radius: 10px;
  padding: 5px;
  height: 35px ;
  border: 1px solid black;
  cursor: pointer;
  background-color: #3d8b1e;
  color: antiquewhite;
}

.checkout-section > a > button:hover{
  border: 1px solid #8b1e4d;
}