

main{
    margin-top: 55px;
    margin-left: 20px;
    margin-right: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    background-color: rgb(243, 243, 243);

}
section{
    height: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 7px;
    border-radius: 5px;
    
}

section > button {
    margin-bottom: 5px;
    background-color: aquamarine;
    border: none;
    border-radius: 10px;
    width: 80px;
    height: 35px;
}

main > section > img {
    height: 100px;
    width: 100px;
    
}