

main{
    margin: 15px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;

}
section{
    height: auto;
    background-color: rgb(243, 243, 243);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

main > section > img {
    height: 100px;
    width: 100px;
    
}