footer {
  background-color: black;
  color: antiquewhite;
  text-align: center;
 
}
 

footer h3{
    text-decoration: underline;
}

.footer-info {
  margin: 20px;
  display: flex;
  justify-content: space-around;
}

@media (max-width: 700px){
    .footer-info{
        display: grid;
        
    }
}


.socials {
  margin: 30px;
}
